body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header info */

.header {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 5px 50px 5px 50px;
    background-color: #1F2937;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}
.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 13px;
    padding: 10px;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* container one information */

.containerone {
    display: flex;
    flex-shrink: 0;
    margin-top: 0;
    padding-top: 45px;
    padding-bottom: 40px;
    height: 175px;
    background-color: #1F2937;
    justify-content: space-between;
}

.leftgroup, .rightgroup {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-grow: 1;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.leftgroup {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 0;
}

.leftgroup p {
    color: #E5E7EB;
    font-size: 13px;
    gap: 5px;
}

.leftgroup h1 {
    color: #E5E7EB;
    font-weight: bold;
}

.imagespot {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin: 10px;
    padding: 60px;
    font-size: 13px;
}

button {
  cursor: pointer;
  padding: 8px 8px;
  border-radius: 8px;
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

/* container two information */

.containertwo {
    background-color: red;
    display: flex;
    flex-shrink: 0;
    margin-top: 0;
    padding-top: 45px;
    padding-bottom: 40px;
    height: 175px;
    justify-content: space-between;

}